<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
	<!-- 日志配置动态刷新,30秒生效 -->

	<property name="SYSTEM_CODE" value="oceankeeper" />
	<property name="LOG_DIR"
		value="/home/workspace/logs/${SYSTEM_CODE}" />
	<property name="consoleLayoutPattern"
		value="%-20(%d{yyyyMMdd_HH:mm:ss.SSS} [%thread] [%logger][%level][%-4relative])
				[%X{hostName} %X{requestId} %X{processId} %X{service.timing} ] %msg%n" />
	<property name="fileLayoutPattern"
		value="%-20(%d{yyyyMMdd_HH:mm:ss.SSS} [%thread] [%logger][%level][%-4relative])
				[%X{hostName} %X{requestId} %X{processId} %X{service.timing} ] %msg%n" />
	<property name="LOG_FILE_NAME" value="system" />
	<contextName>${SYSTEM_CODE}</contextName>

	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout name="StandardFormat"
			class="ch.qos.logback.classic.PatternLayout">
			<pattern>${consoleLayoutPattern}</pattern>
		</layout>
	</appender>

	<appender name="ROLLING"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_DIR}/${LOG_FILE_NAME}.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_DIR}/%d{yyyy-MM-dd}/${LOG_FILE_NAME}_%d{yyyy-MM-dd}_%i.log.zip
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>50MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<layout>
			<pattern>${fileLayoutPattern}</pattern>
		</layout>
	</appender>

	<appender name="ASYNC"
		class="ch.qos.logback.classic.AsyncAppender">
		<!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
		<discardingThreshold>0</discardingThreshold>
		<!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
		<queueSize>512</queueSize>
		<!-- 添加附加的appender,最多只能添加一个 -->
		<appender-ref ref="ROLLING" />
	</appender>

	<root level="INFO">
		<!-- 服务器运行时切匆向Console中写日志 -->
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="ASYNC" />
	</root>
</configuration>